<div class="navbar menubar" id="menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar" href="#blog">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <a class="navbar-brand logo visible-lg" href="/">California Christ Community Church</a>
            <a class="navbar-brand logo hidden-lg" href="/">C4 Ministry</a>
        </div>
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/sermons">Sermons</a>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li class="modal">
                    <a href="#modal" data-toggle="modal" data-target="#modal">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>