<form action="https://docs.google.com/forms/d/18pE8faIRUlseTZZPGx59sRzotevhqU02yLyjV6FTENY/formResponse" method="POST" role="form" target="_blank">
    <input type="hidden" name="pageNumber" value="0">
    <input type="hidden" name="backupCache" value="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="entry.1300526318">Name</label>
                    <input type="text" name="entry.1300526318" value="" id="entry_0" class="form-control" placeholder="Please enter your name">
                </div>
                <div class="form-group">
                    <label for="entry.1728046174">Email</label>
                    <input type="text" name="entry.1728046174" value="" id="entry_2" class="form-control" placeholder="Please enter your email address">
                </div>
                <div class="form-group">
                    <label for="entry.1490165977">Inquiry</label>
                    <textarea name="entry.1490165977" rows="8" cols="75" id="entry_4" class="form-control" placeholder="Please let us know how we can help you"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>